<div class="article">
  <h1 class="headline"><%= @article.headline %></h1>

<% if @article.images.any? %>
  <div class="hero-img">
    <%= image_tag @article.images.first.image, :class => 'hero' %>
    <p><%= @article.images.first.caption %></p>
  </div>
<% end %>
  <main>
    <div class="story-wrapper">
      <div class="story">
        <div class="article-info">
          <h4><%= @article.author %></h4>
          <h4><%= @article.created_at.strftime('%B %e, %Y') %></h4>
          <% @article.categories.each do |category| %>
            <h4 class="cat-tag"><%= category.category %></h4>
          <% end %>
        </div>
        <p><%= @article.story%></p>
      </div>
    </div>
  </main>
</div>
<div class="rating">
  <h4><i class="far fa-thumbs-up"></i> <%= @article.likes.where(liked: true).count %></h4>
  <h4><i class="far fa-thumbs-down"></i> <%= @article.likes.where(liked: false).count %></h4>
</div>

<% if @current_user.present? && @current_user.admin? %>
<div class="controls">
  <%= link_to "Edit Article", edit_article_path(@article)%>
  <%= link_to "Delete Article", @article, :method => 'delete'%>
</div>
<% end %>
