<div class="article">
  <h1 class="headline"><%= @article.headline %></h1>

<% if @article.images.any? %>
  <div class="hero-img">
    <%= image_tag @article.images.first.image, :class => 'hero' %>
    <p><%= @article.images.first.caption %></p>
  </div>
<% end %>
  <main>
    <div class="story-wrapper">
      <div class="story">
        <p><%= @article.story%></p>
        <p><%= @article.author %></p>
        <p><%= @article.created_at.strftime('%B %e, %Y') %></p>
        <p>Likes: <%= @article.likes.where(liked: true).count %></p>
        <p>Dislikes: <%= @article.likes.where(liked: false).count %></p>
        <% @article.categories.each do |category| %>
          <p><%= category.category %></p>
        <% end %>
      </div>

      <aside>
        <div class="sup-img">
          <%= image_tag "https://www.fillmurray.com/300/250", :class => 'supp' %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, autem.</p>
          <%= image_tag "https://www.fillmurray.com/300/350", :class => 'supp' %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ab?</p>
        </div>
      </aside>
    </div>
  </main>
</div>


<% if @current_user.present? && @current_user.admin? %>
<div class="controls">
  <%= link_to "Edit Article", edit_article_path(@article)%>
  <%= link_to "Delete Article", @article, :method => 'delete'%>
</div>
<% end %>
