<div class="form-wrapper">
<div class="sign-up">
  <h4>First time? <span class="login">Sign Up</span> Now!</h4>

  <div class="error">
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
      <p class="error-msg">Sorry! The <%= msg %></p>
      <% end %>
  <% end %>
  </div>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>

    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>

    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>

    <%= recaptcha_tags %>

    <%= f.submit "Sign Up!", :class => "submit-btn" %>
  <% end %>
</div>

<span id="break"></span>

<div class="login">
  <h4>Returning user? <span class="login">Sign In</span> now!</h4>
<% if flash[:error_message].present? %>
  <p class="error-msg"><%= flash[:error_message] %></p>
<% end %>

<%= form_tag login_path, :class => 'sign-in' do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In", :class => "submit-btn" %>
</div>
<% end %>
</div>
