<div class="hero-articles">
  <div class="featured">
    <div class="featured-image">
      <%= image_tag @breaking_article.images.first.image %>
    </div>
    <div class="featured-title">
      <h4><%= link_to @breaking_article.headline, article_path(@breaking_article) %></h4>
    </div>
  </div>
  <div class="recent-posts">
    <div class="top">
      <div class="top-article">
        <div class="featured-image">
          <%= image_tag @articles[0].images.first.image %>
        </div>
        <div class="recent-title">
          <h4><%= link_to @articles[0].headline, article_path(@articles[0]) %></h4>
        </div>
      </div>
      <div class="top-article">
        <div class="featured-image">
          <%= image_tag @articles[1].images.first.image %>
        </div>
        <div class="recent-title">
          <h4><%= link_to @articles[1].headline, article_path(@articles[1]) %></h4>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="top-article">
        <div class="featured-image">
          <%= image_tag @articles[2].images.first.image %>
        </div>
        <div class="recent-title">
          <h4><%= link_to @articles[2].headline, article_path(@articles[2]) %></h4>
        </div>
      </div>
      <div class="top-article">
        <div class="featured-image">
          <%= image_tag @articles[3].images.first.image %>
        </div>
        <div class="recent-title">
          <h4>
            <%= link_to @articles[3].headline, article_path(@articles[3]) %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="additional-content">
  <div class="left-side">
    <div class="left-side-top">

        <% 0.step(39, 8).each do |n| %>

          <div class="daily-weather">
            <h3>
              <span class="day"><%= @info["list"][ n ]["dt_txt"].to_datetime().strftime('%a') %></span>
              <br>
              <%= @info["list"][ n ]["dt_txt"].to_datetime().strftime('%d %b') %>
            </h3>
            <%= image_tag "http://openweathermap.org/img/w/#{@info["list"][ n ]["weather"][0]["icon"]}.png" %>
            <h4 class="temp"><%= @info["list"][ n ]["main"]["temp_max"].floor %>℃ </h4>
            <h4 class="info"><%= @info["list"][ n ]["weather"][0]["description"] %></h4>
          </div>

        <% end %>
    </div>
    <div class="left-side-bottom">
      <div class="advertisment">
        <%= image_tag "ad.png" %>
      </div>
      <div class="social-media">
        <div class="sm-title">
          <h2>Follow Us</h2>
        </div>
        <div class="sm-all">
          <i class="fab fa-facebook"></i>
          <div class="instagram">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-instagram"></i>
          </div>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="title">
      <h3>Exclusive Content</h3>
    </div>
    <% 0.step(4).each do |n| %>
    <div class="exclusive">
      <h4><%= link_to @exclusives[ n ].headline, article_path(@exclusives[n]) unless !@exclusives[ n ].present?%></h4>
    </div>
    <% end %>
  </div>
</div>
