<div class="hero-articles">
  <div class="featured">
    <div class="featured-image">
      <%= image_tag @breaking_article.images.first.image %>
    </div>
    <div class="featured-title">
      <h4><%= link_to @breaking_article.headline, article_path(@breaking_article) %></h4>
    </div>
  </div>

  <div class="recent-posts">
    <% @articles.in_groups_of(2).each do |article| %>
   <div class="top">
     <div class="top-article">
       <div class="featured-image">
         <%= image_tag article[0].images.first.image unless !article[0].present? %>
       </div>
       <div class="recent-title">
         <h4><%= link_to article[0].headline, article_path(article[0]) unless !article[0].present?%></h4>
       </div>
     </div>
     <div class="top-article">
       <div class="featured-image">
         <%= image_tag article[1].images.first.image unless !article[1].present? %>
       </div>
       <div class="recent-title">
         <h4><%= link_to article[1].headline, article_path(article[1]) unless !article[1].present?%></h4>
       </div>
     </div>
   </div>
   <% end %>
 </div>
</div>

<div class="additional-content">
  <div class="left-side">
    <div class="left-side-top">

      <% 0.step(39, 8).each do |n| %>

        <div class="daily-weather">
          <h3>
            <span class="day"><%= @info["list"][ n ]["dt_txt"].to_datetime().strftime('%a') %></span>
            <br>
            <%= @info["list"][ n ]["dt_txt"].to_datetime().strftime('%d %b') %>
          </h3>
          <%= image_tag "http://openweathermap.org/img/w/#{@info["list"][ n ]["weather"][0]["icon"]}.png" %>
          <h4 class="temp">
            <%= @info["list"][ n ]["main"]["temp_max"].floor %>℃
          </h4>
          <h4 class="info">
            <%= @info["list"][ n ]["weather"][0]["description"] %>
          </h4>
        </div>

      <% end %>
    </div>

    <div class="left-side-bottom">
      <% if !@current_user.present?  %>
      <div class="advertisment">
        <%= image_tag "ad.png", :alt => 'Advertisment' %>
      </div>
      <% else %>
      <div class="advertisment-dp">
        <!-- OBVIOUSLY A PLACEHOLDER FOR OTHER CONTENT -->
        <%= image_tag "deadpool.jpg", :alt => 'Whose kitty litter did I just shit in?' %>
      </div>
      <% end %>
      <div class="social-media">
        <div class="sm-title">
          <h2>Follow Us</h2>
        </div>
        <div class="sm-all">
          <i class="fab fa-facebook"></i>
          <div class="instagram">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-instagram"></i>
          </div>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="right-side">
    <% if !@current_user.present? %>
    <div class="cover">
      <h3>This content is for members only. <br> Sign up or Sign in to view it!</h3>
    </div>
    <% end %>
    <div class="title">
      <h3>Exclusive Content</h3>
    </div>
    <% @exclusives.each do |exclusive| %>
      <div class="exclusive-art">
        <h4><%= link_to exclusive.headline, article_path(exclusive) unless !exclusive.present? %></h4>
      </div>
    <% end %>
  </div>
</div>
